
/*
	"Portofolio"
	Original utility by:
	https://wahyu9kdl.github.io
	https://www.alhikmah.my.id / https://admin.alhikmah.my.id
	https://www.awdev.eu.org / https://devoloper.awdev.eu.org/devoloper.html
	This is the 2nd revision of the modified version by:
	https://wahyu9kdl.medium.com
	
	
	Related Plugin : 
	https://bit.ly/39S49Ue
	https://bit.ly/37Nuan1
	https://bit.ly/3weJFOn
	https://bit.ly/37Nuan1
	https://t.co/HZJoHOSpHC
	https://t.co/I0zjdhpTmJ
	https://t.co/3Gd87uMiGL
	https://bit.ly/3FTl2dh
	https://bit.ly/3NgDUW7
	https://bit.ly/3FTl2dh
	https://bit.ly/3MpQuCr
	https://bit.ly/3LoauUq
	https://bit.ly/3wD01QQ
*/

@font-face { font-family:"Tungsten A"; src: url('https://hero-generator.netlify.app/777913/E88303CC3538F8E3A.eot'); src: url('https://hero-generator.netlify.app/777913/E88303CC3538F8E3A.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Tungsten 5r"; src: url('https://hero-generator.netlify.app/777913/E88303CC3538F8E3A.eot'); src: url('https://hero-generator.netlify.app/777913/E88303CC3538F8E3A.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Whitney A"; src: url('https://hero-generator.netlify.app/777913/1BB0183E0F4B74DF3.eot'); src: url('https://hero-generator.netlify.app/777913/1BB0183E0F4B74DF3.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Whitney 4r"; src: url('https://hero-generator.netlify.app/777913/1BB0183E0F4B74DF3.eot'); src: url('https://hero-generator.netlify.app/777913/1BB0183E0F4B74DF3.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Whitney A"; src: url('https://hero-generator.netlify.app/777913/454324F37EEF49DFC.eot'); src: url('https://hero-generator.netlify.app/777913/454324F37EEF49DFC.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:600; } @font-face { font-family:"Whitney 6i"; src: url('https://hero-generator.netlify.app/777913/454324F37EEF49DFC.eot'); src: url('https://hero-generator.netlify.app/777913/454324F37EEF49DFC.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:600; } 